 
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Space Mono', monospace;
}

main{
  background-color: black;
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%; 
}
.wrapper h1{
  text-align: center;
  color: white;
  font-size: 10vw;
  z-index: 100;
  margin: 0;
}
.wrapper p{
color: crimson;
font-size: 5vw;
text-align: center;
margin: 0;
z-index: 100;
}



.Sbody{
  background-color: green;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:baseline;
    min-height: 100vh;
    background-color: #272222;
    margin-top: -51px;
}
/*
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.sectionContact{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eee;
}
.sectionAbout{
  position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #272222;
}
.sectionSvg{
  position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
#right-wheel, #left-wheel{
  animation: wheel 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes wheel{
  from{
    transform: rotateZ(0deg);
  }to{
    transform: rotateZ(360deg);
  }
}



h2{
    color: aliceblue;
    text-align: center;
    font-size: 12vw;
    line-height: 1em;
    z-index: 1000;
    font-weight: 900;
}

h2 span{
    font-size: 0.2em;
    letter-spacing: 0.4em;
    font-weight: 400;
    text-transform: uppercase;
}

.blocks{
    position: absolute;
    width: 50px;
    height: 100px;
    background: #272222;
    box-shadow: 10px 10px 50px rgba(0,0,0,2);
}

#SVG-marca{
    position: fixed;
    margin-left: 50px;
    animation: updown 3s;
    animation-fill-mode: both;
    font: 4em Roboto;
    letter-spacing: 0.15em;
    width: 100%;
    height: 40%;
    z-index: 1032;
  }
  
  @keyframes updown{
    from{
      width: 0px;
      height: 0px;
    }to{
      width: 90px;
      height: 200px;
      box-shadow: 10px 10px 50px rgba(0,0,0,2);
    }
  }
  
  
  #SVG-marca text{
    fill: #FFFFFF;
    /*stroke: rgb(241, 237, 237);*/
    fill-opacity: 1;
    stroke-width: 0;
    stroke-dasharray: 100% 0;
    animation: stroke-offset 3s linear;
    animation-direction: alternate;
  }
  
  
  @keyframes stroke-offset {
    0% {
      fill-opacity: 0;
      stroke-width: 0;
      stroke-dasharray: 0% 100%;
    }
    25% {
      stroke-width: 3px;
    }
    50% {
      fill-opacity: 0;
    }
    75% {
      stroke-width: 2px;
    }
    100% {
      stroke-width: 0;
    }
  }

  .bg-header{
      background-color: #272222;
      box-shadow: 10px 10px 50px rgba(0,0,0,2);
  }

  .socialBar{
      z-index: 4;
      background-color: #272222;
  }
  
  img{
      width: 35px;
      height: auto;
  }